@use "sass:map";
@use "../variables" as variables;

.alert {
  margin: map.get(variables.$spacings, 4);
  padding: 2rem;
  border: 2px solid black;
  border-radius: 5px;
}

@each $name, $color in variables.$colors {
  .alert.alert-#{$name} {
    background-color: $color;
  }
}
