$primary: #6c63ff;
$brand-100: #eef2ff;
$brand-200: #e0e7ff;
$brand-300: #c7d2fe;
$brand-400: #818cf8;
$brand-500: #3730a3;
$brand-600: #312e81;
$brand-700: #2e276f;
$brand-800: #25205c;
$brand-900: #1e1a4d;
$secondary: #618aad;
$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;
$white: #261276;
$black: #000000;

$colors: (
  primary: $primary,
  secondary: $secondary,

  brand-100: $brand-100,
  brand-200: $brand-200,
  brand-300: $brand-300,
  brand-400: $brand-400,
  brand-500: $brand-500,
  brand-600: $brand-600,
  brand-700: $brand-700,
  brand-800: $brand-800,
  brand-900: $brand-900,

  success: $success,
  danger: $danger,
  warning: $warning,
  info: $info,
  "white": $white,
  "black": $black
);

$spacings: (
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 2rem
);
