.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
$spacings: (
  1: 4px,
  2: 8px,
  3: 16px,
  4: 24px,
  5: 48px
);

@each $key, $value in $spacings {
  .m-#{$key} {
    margin: $value;

  }
}
@each $key, $value in $spacings {
  .p-#{$key} {
    padding: $value;
  }
}
@each $key, $value in $spacings {
  .mt-#{$key} {
    margin-top: $value;
  }

  .mb-#{$key} {
    margin-bottom: $value;
  }

  .ms-#{$key} {
    margin-left: $value;
  }

  .me-#{$key} {
    margin-right: $value;
  }

  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }

  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }
}
@each $key, $value in $spacings {
  .pt-#{$key} {
    padding-top: $value;
  }

  .pb-#{$key} {
    padding-bottom: $value;
  }

  .ps-#{$key} {
    padding-left: $value;
  }

  .pe-#{$key} {
    padding-right: $value;
  }

  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }

  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
}