@use "variables";

@mixin spacing($property, $prefix) {
  @each $key, $value in variables.$spacings {
    .#{$prefix}-#{$key} {
      #{$property}: $value;
    }
  }
}

@include spacing(margin, m);
@include spacing(padding, p);

$directions: (
  mt: margin-top,
  mb: margin-bottom,
  ms: margin-left,
  me: margin-right,
  pt: padding-top,
  pb: padding-bottom,
  ps: padding-left,
  pe: padding-right
);
$axis: (
  mx: (margin-left, margin-right),
  my: (margin-top, margin-bottom),
  px: (padding-left, padding-right),
  py: (padding-top, padding-bottom)
);
@each $prefix, $properties in $axis {
  @each $key, $value in variables.$spacings {
    .#{$prefix}-#{$key} {
      @each $property in $properties {
        #{$property}: $value;
      }
    }
  }
}

@each $prefix, $property in $directions {
  @each $key, $value in variables.$spacings {
    .#{$prefix}-#{$key} {
      #{$property}: $value;
    }
  }
}
@each $name, $value in variables.$display-values {
  .d-#{$name} {
    display: $value;
  }
}
@each $name, $value in variables.$flex-directions {
  .flex-#{$name} {
    flex-direction: $value;
  }
}
@each $name, $value in variables.$justify-values {
  .justify-#{$name} {
    justify-content: $value;
  }
}
@each $name, $value in variables.$justify-values {
  .justify-#{$name} {
    justify-content: $value;
  }
}
@each $name, $value in variables.$justify-values {
  .justify-#{$name} {
    justify-content: $value;
  }
}
@each $name, $value in variables.$align-values {
  .align-#{$name} {
    align-items: $value;
  }
}
@each $name, $value in variables.$flex-wrap-values {
  .flex-#{$name} {
    flex-wrap: $value;
  }
}
@each $name, $value in variables.$align-content-values {
  .content-#{$name} {
    align-content: $value;
  }
}
@each $key, $value in variables.$spacings {
  .gap-#{$key} {
    gap: $value;
  }
}
@each $key, $value in variables.$spacings {
  .row-gap-#{$key} {
    row-gap: $value;
  }
}